.signin-page-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .signin-page-container {
    width: 92%;
    flex-direction: column;
    justify-content: center;
  }
}
